/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: url('photo/BACKGROUND2.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add some space between the images */
    margin-bottom: 20px;
}

.photo-container img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.quote {
    text-align: center;
    margin-bottom: 20px;
}

.quote p {
    font-size: 18px;
    font-style: italic;
    color: #b38b59;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.about-text, .career {
    flex: 1;
    margin-right: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
}

.career {
    flex: 1;
}

.career h2 {
    font-size: 24px;
    color: #6e4a31;
    margin-bottom: 10px;
}

.career ul {
    list-style: none;
}

.career ul li {
    font-size: 16px;
    line-height: 2;
}

.career ul li span {
    font-weight: bold;
    color: #b38b59;
}

.contact-info {
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid #ddd;
    margin-top: 20px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-info img {
    vertical-align: middle;
    margin-right: 10px;
}
